@import url("../Fonts/fonts.css");

body{
  
    
    font-family: "Roboto", sans-serif;
}


.mainContactContainer{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/contactBackground.svg");
    background-color: #F4F2EC;
}

.subContactContainer{
    display: flex;
}


.subContactContainer .socialHandles{
    width: 50vw;
    height: 100vh;
    display: flex;
}

.socialContainer{
    background-color: #FFFDF6;
    height: 12vw;
    width: 25vw;
    margin-left: 3vw;
    margin-top:10vh;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

.contactEmail{
    display: flex;
    margin-top: 10px;
    gap: 0.8vw;
}

.contactPhone{
    display: flex;
    margin-top: 4vh;
    gap: 0.8vw;
}

.socials{
    display: flex;
    padding-top: 2vh;
    gap: 0.5vw;
    margin-top: 5px;
    padding-left: 2vw;
}


.messageUs{
    display: flex;
    background-color: #FFFDF6;
    flex-direction: column;
    margin-left: 20vw;
    height: 70vh;
    width: 25vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    padding: 1.5vw;
    gap: 4vh;
}

.messageUs h3{
    margin-top: -1vh;
    padding-left: 2vw;
}

.messageUs .messageInputs{
    display: flex;
    flex-direction: column;
    margin-top: -3vh;
    gap: 3vh;
}

 .messageInputs .senderDetails{
    height: 5vh;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 1vw;
    background-color: #FFFDF6;
}.messageInputs label{
    margin-left: 1vw;
}
.messageText{
    margin-top: -2vh;
    height: 20vh;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 1vw;
    background-color: #FFFDF6;
}

.sendMessage{
    width: 9vw;
    margin-left: 30%;
    padding: 0.7vw;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight: 600;
}


