body{
    padding: 0;
    margin: 0;
    background-color: #F4F2EC;
}
.logo {
    height: 83px;
    width: 173px;
    margin-left: 2.5vw;
}

.signupContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 86.5vh;
}

.subSignupContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#FFFFFF;
    border-radius: 20px;
    height: 80vh;
    width: 80vw;
}

.subSignupContent h1{
    font-size: 3vw;

}
.signupUserInputs{
    display: flex;
    width: 95%;
    height: 90%;
}
.signupDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    flex-direction: column;
    height: 100%;
    width: 50%;
}


.signupDetails input{
    width: 25vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 1vw;
    background-color: #FFFFFF;
}

.userType label{
    padding: 2vh;
}

.userType input{
    margin-top: 2vh;
}


.signupPreferrences{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 14vh;
    gap: 6vh;
}

.preferredJobs div{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 2vw 
}
.signup{
    width: 10vw;
    padding: 1vw;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 30px;
}

.haveAccount{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.haveAccount a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}



