.jobCardcar{
    border: 1px solid black;
    width: 60vw;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    transition: 0.4s;
    margin-top:2.5vh ;
}

.recruiterInfocar {
    display: flex;
}

.recruiterInfocar img{
    padding: 10px;
}

.detailscar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recruiterInfocar .detailscar h3{
    font-size: 1.5vw;
}

.recruiterInfocar .detailscar p{
    font-size: 1vw;
}

.jobDetailscar{
    margin-left: 20px;
}

.jobDetailscar h2{
    font-size:1.7vw;
}

.jobDetailscar .jobDescriptioncar{
    display: flex;
    overflow: hidden;
    font-size:0.9vw;
    width:90%;
    word-wrap: break-word;
    max-height: 9vh;
}

.infocar{
    display: flex;
    gap:2vw;
    margin-top: 2vh;
}

.infoCardcar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
    height: 20px;
    width: 8vw;
    padding: 2vh;

}


.infoCardcar img{
    width: 1.2vw;
    height: 1.2vw;
}


.infoCardcar p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    margin-left:0.3vw ;
}


.infocar button{
    margin-left: 15vw;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5vw 1.5vw;
    border-radius: 20px;
}


.jobCardcar:hover{
     box-shadow: 7px 7px rgba(0,0,0,0.5); 
     cursor: pointer;
}