.jobCard{
    border: 1px solid black;
    width: 60vw;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    transition: 0.4s;
    margin-top:2.5vh ;
}

.recruiterInfo {
    display: flex;
}

.recruiterInfo img{
    padding: 10px;
}

.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recruiterInfo .details h3{
    font-size: 1.5vw;
}

.recruiterInfo .details p{
    font-size: 1vw;
}

.jobDetails{
    margin-left: 20px;
}

.jobDetails h2{
    font-size:1.7vw;
}

.jobDetails .jobDescription{
    display: flex;
    overflow: hidden;
    font-size:0.9vw;
    width:90%;
    word-wrap: break-word;
    max-height: 9vh;
}

.info{
    display: flex;
    gap:2vw;
    margin-top: 2vh;
}

.infoCard{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
    height: 20px;
    width: 8vw;
    padding: 2vh;

}


.infoCard img{
    width: 1.2vw;
    height: 1.2vw;
}


.infoCard p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    margin-left:0.3vw ;
}


.info button{
    margin-left: 15vw;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5vw 1.5vw;
    border-radius: 20px;
}


.jobCard:hover{
     box-shadow: 7px 7px rgba(0,0,0,0.5); 
     cursor: pointer;
}