.profileCard{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vw;
    border-radius: 10px;
    padding: 20px;
    height: 211px;
    width: 172px;
}


img{
    border-radius: 50%;
    object-fit: cover;

}